body {
  margin: 0 AUTO;
  padding: 0;
}
* {
  scroll-behavior: smooth;
}
.wrapper {
  background-image: url(../img/bg1.png);
  width: 1500px;
  height: 1000px;
  margin: 0 auto;
}
.top {
  width: 1500px;
  display: flex;
  margin: 0 AUTO;
  position: fixed;
  background-color: #ebe5de;
  opacity: 0.95;
  z-index: 5;
}
.logo {
  width: 127px;
  height: 52px;
  color: #262626;
  font-family: Pacifico;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: right;
  margin-top: 50px;
  margin-left: 80px;
}

.menu {
  width: 1500px;
  height: 18px;
  color: #262626;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: right;
  text-transform: uppercase;
  margin-right: 100px;
  margin-top: 50px;
}
.titles {
  width: 287px;
  height: 46px;
  color: #262626;
  font-family: "Raleway - Heavy";
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: left;
  padding: 20px;
}
.textFresh {
  width: 368px;
  height: 70px;
  color: #262626;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: left;
  padding: 20px;
}
.button {
  width: 200px;
  height: 55px;
  background-color: #ff6033;
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 30px;
  position: relative;
}
.article {
  display: block;
  width: 372px;
  height: 242px;
  position: relative;
  top: 350px;
  left: 100px;
}
.menu > a {
  display: inline;
  margin-right: 20px;
}
.menu > a:hover {
  border-top: 3px solid #ff6033;
  padding-top: 10px;
}
#mouse {
  margin-left: 620px;
  margin-top: 150px;
}

#about {
  margin: 0 AUTO;
  width: 1500px;
  height: 700px;
  background-color: #00c4c4;
  background-image: radial-gradient(
    circle 1125px at center,
    rgba(0, 196, 196, 0.9) 0%,
    rgba(0, 183, 183, 0.9) 32%,
    rgba(0, 173, 173, 0.9) 68%,
    rgba(0, 156, 156, 0.9) 100%
  );
  position: relative;
  display: flex;
}
.image {
  padding-top: 40px;
}
.titleAbout {
  width: 394px;
  height: 67px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: left;
}
.textAbout {
  width: 499px;
  height: 188px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: left;
}
.aboutUs {
  margin-top: 200px;
  margin-left: 100px;
}

.services {
  width: 1500px;
  height: 790px;
  background-color: #70bfff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list {
  width: 418px;
  height: 471px;
}
.varlist {
  width: 400px;
  height: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 76%,
    rgb(201, 191, 191) 76%,
    rgba(255, 255, 255, 1) 77%,
    rgba(255, 255, 255, 1) 100%
  );
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 10px;

  color: #262626;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;

  line-height: 27px;
  text-align: center;
  justify-content: space-around;
  transition: 0.5s;
}
object {
  width: 54px;
  height: 54px;
  margin-top: 25px;
}

.varlist:hover {
  transform: scale(1.1);
}
.varlist > p {
  width: 238px;
  height: 46px;
}
.titleServices {
  width: 462px;
  height: 527px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;

  align-items: center;
  line-height: 27px;
  text-align: left;
  background-image: url(../img/tomato.png);
}
#signTomato {
  width: 800px;
  height: 100px;
  display: flex;
  position: relative;
  top: 250px;
  right: 30px;
}

.gallery {
  width: 1500px;
  height: 1536px;
  background-color: #ffe92f;
  margin: 0 auto;
}
.GallerySign {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.titleGallery {
  width: 394px;
  height: 67px;
  color: #313131;
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: center;
}
.textGallery {
  width: 499px;
  height: 188px;
  color: #313131;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 25px 25px;
  grid-template-areas:
    "plateFruits plateFruits plateFruits plateBlackbarry"
    "plateFruits plateFruits plateFruits plateSome"
    "plateMilkBerry plateMilkBerry Hurma Hurma";
  width: 1183px;
  height: 991px;
  margin: 0 auto;
}
.plateFruits {
  grid-area: plateFruits;
  width: 770px;
  height: 553px;
  background-image: url(../img/plate_cuttedFruit.png);
  box-shadow: -19px 7px 50px 1px rgba(0, 0, 0, 0.3);
}
.plateBlackbarry {
  grid-area: plateBlackbarry;
  width: 370px;
  height: 260px;
  background-image: url(../img/plateBlackberry.png);
  box-shadow: -19px 7px 50px 1px rgba(0, 0, 0, 0.3);
}
.plateSome {
  grid-area: plateSome;
  width: 370px;
  height: 260px;
  background-image: url(../img/PlateSomeBerries.png);
  box-shadow: -19px 7px 50px 1px rgba(0, 0, 0, 0.3);
}
.plateMilkBerry {
  grid-area: plateMilkBerry;
  width: 570px;
  height: 400px;
  background-image: url(../img/PlateMilkBlackberry.png);
  box-shadow: -19px 7px 50px 1px rgba(0, 0, 0, 0.3);
}
.Hurma {
  grid-area: Hurma;
  width: 570px;
  height: 400px;
  background-image: url(../img/Hurma.png);
  box-shadow: -19px 7px 50px 1px rgba(0, 0, 0, 0.3);
}
.viewMore {
}
.viewMore button {
  margin: 0 auto;
  text-align: center;
  width: 200px;
  height: 55px;
  background-color: #1300c2;
  margin-left: 40px;
  margin-top: 30px;
  line-height: 40px;
  font-weight: 100;
  color: aliceblue;
  text-transform: uppercase;
  opacity: 0.7;
  cursor: pointer;
  position: relative;
  left: 600px;
  font-size: 20px;
}
.bgBlackberry {
  width: 1500px;
  height: 500px;
  background-image: url(../img/bg_Blackberries.png);
  margin: 0 auto;
}
.subskribeBlack button {
  text-align: center;
  width: 200px;
  height: 55px;
  background-color: #00c24a;
  margin-left: 40px;
  margin-top: 30px;
  line-height: 40px;
  font-weight: 100;
  color: aliceblue;
  text-transform: uppercase;
  opacity: 0.7;
  cursor: pointer;
  font-size: 20px;
}

.titleBlack {
  width: 305px;
  height: 29px;
  color: #262626;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 27px;
  text-align: right;
  padding: 50px;
}

.textBlack {
  width: 541px;
  height: 43px;
  color: #262626;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: left;
  padding: 50px;
}

.bgBlackberry {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subskribeBlack input[type="email"] {
  grid-area: adress;
  width: 500px;
  height: 50px;
  background-color: #e2ffff;
  opacity: 0.5;
  margin-left: 50px;
}

.blog {
  width: 1500px;
  height: 864px;
  background-color: #b07cf7;
  margin: 0 auto;
}
.inside {
  margin: 0 auto;
  position: relative;
  top: 100px;
  left: 150px;
}
.bg {
  background-image: url(../img/imgg.png);
  width: 1500px;
  height: 866px;
  margin: 0 auto;
  padding: 0;
}

.grid-containerr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". title title ."
    "adress adress contacts contacts"
    "email email contacts contacts"
    "phone phone . ."
    "message message . .";
}

.title {
  grid-area: title;
  margin: 0 auto;
  position: relative;
  left: -230px;
}

.adress {
  grid-area: adress;
  margin-top: 300px;
  margin-left: 100px;
}
input[type="text"] {
  grid-area: adress;
  width: 500px;
  height: 50px;
  background-color: #00c4c4;
  opacity: 0.5;
}

.email {
  grid-area: email;
  margin-left: 100px;
  margin-top: 10px;
}

input[type="email"] {
  grid-area: adress;
  width: 500px;
  height: 50px;
  background-color: #00c4c4;
  opacity: 0.5;
}
.phone {
  grid-area: phone;
  margin-left: 100px;
  margin-top: 10px;
}
input[type="number"] {
  grid-area: adress;
  width: 500px;
  height: 50px;
  background-color: #00c4c4;
  opacity: 0.5;
}
.message {
  grid-area: message;
  margin-left: 100px;
  margin-top: 10px;
}

textarea {
  width: 500px;
  height: 250px;
  background-color: #00c4c4;
  opacity: 0.5;
}
.contacts {
  grid-area: contacts;
  position: relative;
  top: -400px;

  width: 317px;
  height: 160px;
  color: #262626;
  font-family: Raleway;
  font-size: 20px;

  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: left;
}
.titleSign {
  width: 337px;
  height: 65px;
  color: #262626;
  font-family: Raleway;
  font-size: 90px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: center;
  padding-top: 100px;
  margin: 0 auto;
}
.text {
  width: 342px;
  height: 41px;
  color: #262626;
  font-family: Raleway;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: center;
  padding-top: 20px;
  margin: 0 auto;
}
#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1500px;
  height: 90px;
  background-color: #262626;
  align-items: center;
  margin: 0 auto;
}
.main {
  font-family: "Raleway - Bold";
  font-size: 17px;
  font-weight: 700;
}

.minor {
  font-family: Raleway - Light;
  font-weight: 300;
}

#Cahee {
  width: 64px;
  height: 27px;
  color: #b9b9b9;
  font-family: Pacifico;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: right;
}

span {
  color: #ff2b58;
  font-family: "Raleway - Bold";
  font-weight: 700;
}
#made {
  width: 192px;
  height: 14px;
  color: #b9b9b9;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: left;
  font-family: "Raleway - Light";
  font-weight: 300;
}

#company {
  width: 300px;
  height: 16px;
  color: #b9b9b9;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
  text-align: left;
}

input:focus {
  opacity: 1;
  border-left: 3px solid #262626;
}

input,
textarea {
  outline: none;
  border: none;
}

.phoneCont {
  margin-top: 15px;
  margin-bottom: 15px;
}
textarea:focus {
  opacity: 1;
  border-left: 3px solid #262626;
}

input[type="number"] {
  -moz-appearance: text;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.sixth-container {
  width: 1500px;
  height: 864px;
  background-color: #b07cf7;
  margin: 0 auto;
}
.header-sixth-container > h1 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  padding-top: 100px;
}

.header-sixth-container > p {
  width: 563px;
  height: 66px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  margin: 0 auto;
  padding-top: 60px;
}

.date-sixth-container {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: rgba(38, 38, 38, 0.5);
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  padding-top: 5px;
  margin-left: 20px;
  margin-top: 10px;
}

.text-sixth-container {
  width: 328px;
  height: 78px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  margin-top: 90px;
  margin-left: 10px;
}

.author-sixth-container {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 300;
  margin-top: -30px;
  margin-left: 10px;
}

.info-sixth-container {
  padding: 20px 10px;
}

.pictures-sixth-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}

.apples-pictures-sixth-container {
  background-image: url("../img/apples.png");
  background-repeat: no-repeat;
  transition-duration: 0.5s;
}

.peases-pictures-sixth-container {
  background-image: url("../img/peases.png");
  background-repeat: no-repeat;
  transition-duration: 0.5s;
}

.raspberries-pictures-sixth-container {
  background-image: url("../img/raspberries.png");
  background-repeat: no-repeat;
  transition-duration: 0.5s;
}

.buttonBlog button {
  text-align: center;
  width: 200px;
  height: 55px;
  background-color: #a80b0b;
  margin-left: 630px;
  margin-top: 30px;
  line-height: 40px;
  font-weight: 100;
  color: aliceblue;
  text-transform: uppercase;
  opacity: 0.7;
  cursor: pointer;
  font-size: 20px;
  transition-duration: 0.5s;
}

.buttonBlog button:hover {
  transform: scale(1.1);
}

.raspberries-pictures-sixth-container:hover {
  transform: scale(1.1);
}

.peases-pictures-sixth-container:hover {
  transform: scale(1.1);
}

.apples-pictures-sixth-container:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}
